---
import Layout from '../layouts/Layout.astro';

import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Luis A Sandoval @SindromeDeLuis | Software Developer"
	description="Luis A Sandoval is a software developer with experience in building responsive and user-friendly applications. Explore his portfolio to see his work and get in touch for collaborations."
>
	<Header />
	<main>
		<About />
		<Experience />
		<Projects />
		<Contact />
	</main>
	<Footer />
</Layout>
