---
const { title, description } = Astro.props;
const siteUrl = "https://www.sindromedeluis.dev";
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="generator" content={Astro.generator} />
		
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="robots" content="index, follow" />

		<!-- Canonical -->
    <link rel="canonical" href={siteUrl} />

		<link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    
    <link rel="stylesheet" href="styles/vendor/normalize.css">
    
    <link 
      rel="preload" 
      as="style" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap"
    >

    <link 
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap" 
      media="print" 
      onload="this.media='all'"
    >

    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap">
    </noscript>
	</head>
	<body>
		<slot />
	</body>
</html>
